textarea{
    resize: none;
}

#floatingTextComment{
    height: 100px;
}

#contact{
    padding: 10%;
}

.form{
    padding: 3%;
}

.contact-us{
    padding-right: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}