/*Logo aanpassen voor nav en footer*/
.logo{
    height: 20px;
}
    /*Alles voor de Nav*/
/*Changes some aspects of the main nav bar. Later needed for the logo and contact us*/
.top-row{
    min-height: 45px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

/*Logo centeren in the navigation bar*/
.logo-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.contact-link{
    margin-left: auto;
}

@media (min-width: 768px){
    .top-row{
        min-height: 45px;
    }

    .navbar-collapse{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 15px;
    } 
}
/*Removes border on the hamburger*/
.navbar-toggler, .navbar-toggler:focus{
    border: none;
    box-shadow: none;
}
/*Added padding around the links in the hamburger*/
.navbar .nav-link{
    padding: 7px 15px;
}
