/* Everything for the Hero section */
html{
    height: 100%;
}
body{
    height: 100%;
}
#hero{
    color: white;
    /* For background image*/
    background-image: url("../afbeeldingen/background-image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#hero div{
    width: 70%;
}

.hero h1{
    font-family: monospace;
}

hr{
    width: calc(100% - 20%);
    display: block;
    height: 5px;
    border: 0;
    border-top: 2px solid white;
    margin: 2px auto;
}

/* Everything for the sup-nav section */
.sup-nav {
    --bs-nav-link-color: black;
    --bs-nav-link-hover-font: black;
}

.sup-nav .nav-item {
    display: flex;
    align-items: center;
}

.sup-nav .nav-item:not(:last-child)::after {
    content: "|";
    color: black;
}

.sup-nav .nav-link {
    transition: transform 0.2s ease, color 0.2s ease;
}

.sup-nav .nav-link:hover {
    transform: scale(1.1);
    color: black;
    font-weight: bold;
}
/* Everything for the Over-mij section */
#over-mij div{
    height: 30%;
    margin-left: 10%;
    margin-right: 10%;
}

#over-mij img {
    height: 500px;
}

#mijn-interesses div{
    border: 1px solid red;
    margin-left: 10%;
    margin-right: 10%;

}