<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 justify-content-end">&copy; 2026 Elias Dutry</p>
        <a class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" href="https://www.ict-worx.com/" aria-label="ICT-worx">
            <img src="afbeeldingen/logo.webp" alt="Logo van ICT-worx" class="logo">
        </a>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary" href="index.html" >Over mij</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary" href="bedrijf.html" >Over ICT-worx</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary" href="contact.html" >Contact us</a>
            </li>
            
        </ul>
    </footer>
</div>