<header>
    <nav class="navbar navbar-expand-md position-relative">
        <div class="container-fluid">
            <div class="top-row position-relative w-100">
                <!--Hamburger-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <!--Center logo-->
                <a class="navbar-brand logo-center" href="https://www.ict-worx.com/">
                    <img src="afbeeldingen/logo.webp" alt="Logo van ICT-worx" class="logo">
                </a>

                <!--Contact-->
                <a class="nav-link contact-link" href="contact.html" >Contact us</a>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="index.html" >Over mij</a>
                    <a class="nav-link" href="bedrijf.html" >Over ICT-worx</a>
                </div>
            </div>              
        </div>
    </nav>
</header>